<footer>
	{{!! After all the posts, we have the previous/next pagination links }}
    <a href="{{@blog.url}}/rss/">Subscribe</a>
    <p>{{@blog.title}} &copy; 2013 &bull; All rights reserved.</p>
</footer>