/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* @import "compass/reset"; */
/* line 1, ../sass/fonts.scss */
html {
  color: #222222;
  font-family: 'PT Sans', sans-serif;
  text-rendering: geometricPrecision;
}

/* line 7, ../sass/fonts.scss */
h1 {
  font-size: 1.6em;
  font-weight: 300;
}

/* line 11, ../sass/fonts.scss */
h2 {
  clear: both;
  float: none;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.8em;
}

/* line 18, ../sass/fonts.scss */
h3 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.3em;
}

/* line 23, ../sass/fonts.scss */
h4 {
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 2em;
}

/* line 29, ../sass/fonts.scss */
h5 {
  font-size: 0.75em;
  font-weight: 800;
  letter-spacing: 0.08em;
  line-height: 1.5em;
  padding: 0 0 0.5em;
  text-align: left;
  width: 100%;
}
@media screen and (min-width: 81.25em) {
  /* line 29, ../sass/fonts.scss */
  h5 {
    display: block;
    font-size: 0.6em;
    position: absolute;
    right: 6em;
    width: 20em;
  }
}

/* line 46, ../sass/fonts.scss */
h6 {
  font-size: 0.6em;
  font-weight: 500;
}

/* line 50, ../sass/fonts.scss */
blockquote {
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1em;
  padding: 0.5em;
}
/* line 55, ../sass/fonts.scss */
blockquote :before, blockquote :after {
  content: "\0022";
}

/* line 59, ../sass/fonts.scss */
time {
  clear: both;
  float: left;
  font-weight: 500;
  margin: 0.5em 0 0;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 25em) {
  /* line 59, ../sass/fonts.scss */
  time {
    clear: none;
    float: right;
  }
}

/* line 71, ../sass/fonts.scss */
p {
  clear: both;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  padding: 0.5em 0;
}
@media screen and (min-width: 25em) {
  /* line 71, ../sass/fonts.scss */
  p {
    padding: 0.5em 0;
  }
}

/* line 83, ../sass/fonts.scss */
ul, ol {
  padding: 0.5em 0.5em 0.5em 1.2em;
}
/* line 85, ../sass/fonts.scss */
ul li, ol li {
  border-bottom: 1px solid #cecece;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  padding: 0.8em;
}

/* line 94, ../sass/fonts.scss */
a {
  color: #ef4723;
  text-decoration: none;
}
/* line 97, ../sass/fonts.scss */
a:hover {
  color: #545454;
}

/* line 101, ../sass/fonts.scss */
code {
  background-color: #dddddd;
  border: 1px solid solid lightgrey;
  border-radius: 0.2em;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  width: 95%;
}

/* line 111, ../sass/fonts.scss */
.read_more {
  float: right;
  margin: 0;
  padding: 0 0 2em 0;
}
/* line 115, ../sass/fonts.scss */
.read_more span {
  font-size: 1.4em;
  line-height: 2em;
  vertical-align: middle;
  text-align: left;
}

/* line 123, ../sass/fonts.scss */
.post-title {
  float: left;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1em;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 25em) {
  /* line 123, ../sass/fonts.scss */
  .post-title {
    margin: 0 0 0.5em;
  }
}
/* line 133, ../sass/fonts.scss */
.post-title a {
  color: #ef4723;
  text-decoration: none;
}
/* line 136, ../sass/fonts.scss */
.post-title a:hover {
  color: #545454;
}

/* line 143, ../sass/fonts.scss */
header p {
  font-size: 0.68em;
}
/* line 147, ../sass/fonts.scss */
header .links a {
  background-color: #ef4723;
  box-shadow: 0 0 0.2em #cecece;
  -webkit-box-shadow: 0 0 0.2em #cecece;
  color: #fefefe;
  display: block;
  font-size: 0.8em;
  float: left;
  letter-spacing: 0.08em;
  margin: 0.5em 0;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
/* line 163, ../sass/fonts.scss */
header .links a:hover {
  background-color: #ff603c;
}

/* line 170, ../sass/fonts.scss */
footer {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.2em;
}
/* line 175, ../sass/fonts.scss */
footer a {
  color: #ef4723;
  display: block;
  padding: 0.6em;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 181, ../sass/fonts.scss */
footer a:hover {
  color: #545454;
}

/*mix-ins*/
/* line 1, ../sass/layout.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 3, ../sass/layout.scss */
body {
  background-color: #fefefe;
  font-size: 80%;
}
@media screen and (min-width: 45em) {
  /* line 3, ../sass/layout.scss */
  body {
    font-size: 90%;
  }
}
@media screen and (min-width: 60em) {
  /* line 3, ../sass/layout.scss */
  body {
    font-size: 100%;
  }
}
/* line 12, ../sass/layout.scss */
body .wrapper {
  margin: 0 auto;
  max-width: 60em;
  padding: 6.25em 2em 2em;
  width: 100%;
  zoom: 1;
}
/* line 124, ../sass/mixins.scss */
body .wrapper:before, body .wrapper:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 130, ../sass/mixins.scss */
body .wrapper:after {
  clear: both;
}
/* line 18, ../sass/layout.scss */
body .wrapper .post-wrap {
  padding: 0;
  width: 100%;
}
@media screen and (min-width: 60em) {
  /* line 18, ../sass/layout.scss */
  body .wrapper .post-wrap {
    border-left: 1px solid #cecece;
    float: left;
    padding: 0 0 0 2em;
    width: 42em;
  }
}
/* line 27, ../sass/layout.scss */
body .wrapper .post-wrap article {
  border-bottom: 1px solid #cecece;
  margin: 0;
  padding: 2em 0 0;
  width: 98%;
  zoom: 1;
}
@media screen and (min-width: 25em) {
  /* line 27, ../sass/layout.scss */
  body .wrapper .post-wrap article {
    padding: 2em;
  }
}
/* line 124, ../sass/mixins.scss */
body .wrapper .post-wrap article:before, body .wrapper .post-wrap article:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 130, ../sass/mixins.scss */
body .wrapper .post-wrap article:after {
  clear: both;
}
/* line 36, ../sass/layout.scss */
body .wrapper .post-wrap article:last-of-type {
  border: none;
}
@media screen and (min-width: 60em) {
  /* line 27, ../sass/layout.scss */
  body .wrapper .post-wrap article {
    padding: 2em 0 0;
  }
  /* line 41, ../sass/layout.scss */
  body .wrapper .post-wrap article:first-of-type {
    padding: 0;
  }
}
/* line 47, ../sass/layout.scss */
body .wrapper .pagination {
  clear: both;
  font-family: 'PT Sans', sans-serif;
  height: inherit;
  padding: 4em 0 0;
  text-align: center;
}
/* line 53, ../sass/layout.scss */
body .wrapper .pagination a {
  color: #ef4723;
  text-decoration: none;
}
/* line 56, ../sass/layout.scss */
body .wrapper .pagination a:hover {
  color: #545454;
}

/* line 3, ../sass/post.scss */
.post-template .wrapper .back {
  position: relative;
  zoom: 1;
}
/* line 124, ../sass/mixins.scss */
.post-template .wrapper .back:before, .post-template .wrapper .back:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 130, ../sass/mixins.scss */
.post-template .wrapper .back:after {
  clear: both;
}
@media screen and (min-width: 25em) {
  /* line 3, ../sass/post.scss */
  .post-template .wrapper .back {
    padding: 0em 2em;
  }
}
@media screen and (min-width: 60em) {
  /* line 3, ../sass/post.scss */
  .post-template .wrapper .back {
    float: left;
    padding: 0 2em 0 0;
    margin: 0 0 2em;
    width: 14em;
  }
}
/* line 15, ../sass/post.scss */
.post-template .wrapper .back .logo {
  background-color: #ef4723;
  display: block;
  float: left;
  height: 2.5em;
  margin: 0;
  width: 2.5em;
  cursor: pointer;
  padding: 0;
  overflow: hidden;
  -webkit-transition: width 0.5s cubic-bezier(1, -0.02, 0.83, 1.02);
  -moz-transition: width 0.5s cubic-bezier(1, -0.02, 0.83, 1.02);
  -o-transition: width 0.5s cubic-bezier(1, -0.02, 0.83, 1.02);
  transition: width 0.5s cubic-bezier(1, -0.02, 0.83, 1.02);
}
/* line 26, ../sass/post.scss */
.post-template .wrapper .back .logo img {
  height: 2.5em;
  width: 2.5em;
}
/* line 33, ../sass/post.scss */
.post-template .wrapper .back .logo:hover {
  width: 100%;
}
/* line 37, ../sass/post.scss */
.post-template .wrapper .back span {
  color: #fefefe;
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-weight: 300;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-transform: lowercase;
  top: 0.7em;
  width: 88%;
  -webkit-transition: opacity 0.5s cubic-bezier(1, -0.02, 0.83, 1.02);
  -moz-transition: opacity 0.5s cubic-bezier(1, -0.02, 0.83, 1.02);
  -o-transition: opacity 0.5s cubic-bezier(1, -0.02, 0.83, 1.02);
  transition: opacity 0.5s cubic-bezier(1, -0.02, 0.83, 1.02);
}
/* line 52, ../sass/post.scss */
.post-template .wrapper .back:hover span {
  display: block;
  opacity: 1;
}
@media screen and (min-width: 60em) {
  /* line 57, ../sass/post.scss */
  .post-template .wrapper .post-wrap {
    float: right;
  }
}
/* line 61, ../sass/post.scss */
.post-template .wrapper .post-wrap article {
  border-bottom: none;
}
/* line 63, ../sass/post.scss */
.post-template .wrapper .post-wrap article img {
  height: auto;
  width: 100%;
}

/* line 2, ../sass/header.scss */
.home-template header, .archive-template header {
  border-bottom: 1px solid #cecece;
  margin: 0 auto;
  padding: 0 0 2em;
  width: 100%;
  zoom: 1;
}
/* line 124, ../sass/mixins.scss */
.home-template header:before, .home-template header:after, .archive-template header:before, .archive-template header:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 130, ../sass/mixins.scss */
.home-template header:after, .archive-template header:after {
  clear: both;
}
@media screen and (min-width: 25em) {
  /* line 2, ../sass/header.scss */
  .home-template header, .archive-template header {
    margin: 0 auto 2em;
    padding: 2em;
  }
}
@media screen and (min-width: 60em) {
  /* line 2, ../sass/header.scss */
  .home-template header, .archive-template header {
    border-bottom: none;
    padding: 0 2em 0 0;
    float: left;
    width: 14em;
  }
}
/* line 18, ../sass/header.scss */
.home-template header img, .archive-template header img {
  display: block;
  float: none;
  height: auto;
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 25em) {
  /* line 18, ../sass/header.scss */
  .home-template header img, .archive-template header img {
    float: left;
    width: 4.125em;
  }
}
@media screen and (min-width: 60em) {
  /* line 18, ../sass/header.scss */
  .home-template header img, .archive-template header img {
    margin: 0 0 1.5em;
    width: 100%;
  }
}
/* line 33, ../sass/header.scss */
.home-template header p, .archive-template header p {
  padding: 2em 0 0;
  width: 100%;
}
@media screen and (min-width: 25em) {
  /* line 33, ../sass/header.scss */
  .home-template header p, .archive-template header p {
    clear: none;
    float: left;
    margin: 0.2em 2em 0;
    max-width: 30em;
    padding: 0;
    width: 60%;
  }
}
@media screen and (min-width: 60em) {
  /* line 33, ../sass/header.scss */
  .home-template header p, .archive-template header p {
    float: none;
    margin: 0;
    width: 100%;
  }
}

/* line 3, ../sass/post-header.scss */
.post-template .wrapper header {
  border-top: 1px solid #cecece;
  margin: 0 auto;
  padding: 2em 0 0;
  width: 100%;
  zoom: 1;
}
/* line 124, ../sass/mixins.scss */
.post-template .wrapper header:before, .post-template .wrapper header:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 130, ../sass/mixins.scss */
.post-template .wrapper header:after {
  clear: both;
}
@media screen and (min-width: 25em) {
  /* line 3, ../sass/post-header.scss */
  .post-template .wrapper header {
    margin: 0 auto 2em;
    padding: 2em;
  }
}
@media screen and (min-width: 60em) {
  /* line 3, ../sass/post-header.scss */
  .post-template .wrapper header {
    border-top: none;
    float: left;
    padding: 0 2em 0 0;
    width: 14em;
  }
}
/* line 19, ../sass/post-header.scss */
.post-template .wrapper header img {
  display: block;
  margin: 0 0 1.5em;
  height: auto;
  width: 100%;
}
@media screen and (min-width: 25em) {
  /* line 19, ../sass/post-header.scss */
  .post-template .wrapper header img {
    float: left;
    width: 14em;
  }
}
@media screen and (min-width: 60em) {
  /* line 19, ../sass/post-header.scss */
  .post-template .wrapper header img {
    width: 100%;
  }
}
/* line 32, ../sass/post-header.scss */
.post-template .wrapper header .head-wrap {
  display: block;
  margin: 0;
  height: auto;
  width: 100%;
}
@media screen and (min-width: 25em) {
  /* line 32, ../sass/post-header.scss */
  .post-template .wrapper header .head-wrap {
    float: right;
    width: 60%;
  }
}
@media screen and (min-width: 60em) {
  /* line 32, ../sass/post-header.scss */
  .post-template .wrapper header .head-wrap {
    float: none;
    width: 100%;
  }
}

/* line 1, ../sass/footer.scss */
footer {
  clear: both;
  height: 2em;
  padding: 2em;
  text-align: center;
  width: 100%;
}

/* line 1, ../sass/animations.scss */
a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
